* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

.offerbar {
    background-color: #1D232C;
    color: #E2E1E1;
    padding: 15px;
    text-align: center;
    position: relative;

}

.close {
    position: absolute;
    right: 30%;
    top: 10px;
    cursor: pointer;
    font-size: 20px;
}

.navbar {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1D232C;
    padding-left: 2%;
    padding-right: 3%;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;
}

.navbar i {
    display: none;
}

.navbar_s1 {
    display: flex;
    gap: 50px;
    list-style: none;
}

.navbar_s1 a {
    text-decoration: none;
    color: #1D232C;
    font-weight: 600;
}

.navbar_s1 a:hover {
    text-decoration: underline;
    color: black;
}

.banner {
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
    position: relative;
}
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slides img {
    height: 400px;
    border-radius: 5px;
    margin: 15px;
    object-fit: cover;
}
.slide{
    width: 100%;
    height: 450px;
    border-radius: 5px;
}

.banner_content {
    position: absolute;
    top: 20%;
    left: 15%;
    color: white;
    text-align: center;
}

.banner_content h1 {
    font-size: 70px;
    margin-bottom: 10px;
}

.banner_content p {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.banner_content button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: lightgray;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.prev,
.next {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    font-size: 80px;
    color: white;
    cursor: pointer;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}

.brand_box img {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.brand_box p {
    font-size: 25px;
    text-align: center;
}

.brand_section {
    padding: 20px;

}

.brand_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.experience_section {
    padding: 10px;
}

.experience_grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.exp_card {
    background: #f3f5f7;
    padding: 18px;
    border-radius: 10px;
    transition: 0.3s ease;
}

.exp_card:hover {
    transform: translateY(-5px);
}

.exp_card i {
    font-size: 30px;
    margin-bottom: 10px;
}

.exp_card h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 6px;
}

.exp_card p {
    font-size: 14px;
    color: #555;
}

.newarrivals {
    padding: 20px;
}

.arrival_container {
    display: flex;
    gap: 25px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
}

.arrival_box {
    width: 250px;
    height: 260px;
    background-color: #f4f4f4;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
}

.arrival_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
    transition: 0.4s;
}

.arrival_box:hover img {
    filter: brightness(70%);
}

.arrival_box button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 8px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.arrival_box button:hover {
    transform: translateX(-50%) scale(1.05);
}

.mostwanted{
    padding: 20px;
}

.product_container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.product_container::-webkit-scrollbar {
    display: none;
}
.product_box {
    min-width: 250px;
    height: 260px;
    background-color: #f4f4f4;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
}

.product_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(90%);
}

.product_box p {
    position: absolute;
    top: 2%;
    left: 2%;
    background: orangered;
    color: white;
    font-size: 25px;
    padding: 10px;
    border-radius: 8px;
}

.product_box i {
    font-size: 30px;
    position: absolute;
    right: 10%;
    bottom: 10%;
}

.offer-section {
    max-width: 100%;
    margin: 10px;
    background: #0f1b2b;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 30px;
    border-radius: 14px;
    color: white;
}

.offer-image img {
    width: 350px;
    height: 250px;
    object-fit: cover;
    border-radius: 12px;
}

.offer-content h2 {
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: 700;
}

.offer-content p {
    font-size: 18px;
    margin-bottom: 20px;
}

.offer-btn {
    padding: 10px 22px;
    background: white;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.offer-btn:hover {
    transform: scale(1.05);
}


.newsletter-section {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    background: white;
    border-radius: 10px;
}

.newsletter-section h2 {
    font-size: 32px;
    font-weight: 800;
}

.newsletter-section p {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 25px;
    color: #555;
}

.newsletter-section input {
    width: 70%;
    padding: 12px;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 5px;
    outline: none;
    margin-bottom: 20px;
}

.subscribe-btn {
    display: block;
    margin: 0 auto;
    padding: 10px 25px;
    border: none;
    background: #0f1b2b;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.subscribe-btn:hover {
    transform: scale(1.05);
}

.footer {
    background: #0f1b2b;
    color: #E2E1E1;
    text-align: start;
    padding: 50px 20px;
    margin-top: 40px;
}

.footer h2 {
    font-size: 42px;
    margin-bottom: 10px;
}

.footer p {
    font-size: 25px;
}

.footer-icons {
    font-size: 30px;
    display: flex;
    gap: 30px;
    margin: 20px 0;
    cursor: pointer;
}

.footer h4 {
    margin-top: 30px;
}

.contact-section {
    width: 70%;
    margin: 20px auto;
    background-color: #1D232C;
    padding: 30px;
    color: #DDDDDD;
    border-radius: 10px;
}

.contact-section h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 95%;
    padding: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 16px;
}

.contact-form textarea {
    height: 100px;
}

.contact-form button {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: blue;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.contact-form button:hover {
    transform: scale(1.05);
}


.collections_container {
    display: flex;
    margin-top: 20px;

}

.sidebar {
    width: 20%;
    padding-left: 20px;
}

.sidebar h3 {
    font-size: 28px;
    margin-bottom: 20px;

}

.sidebar label {
    font-size: 25px;
    display: block;
    margin-bottom: 10px;
}

.products {
    width: 72%;
    border-left: 3px solid black;
    padding: 30px;
}

.search-box {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 8px;
    border-radius: 5px;
}

.search-box input {
    width: 100%;
    padding: 12px;
    border: none;
    outline: none;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product img {
    width: 280px;
    height: 300px;
    border: 1px solid rgb(230, 227, 227);
    border-radius: 8px;
}

.product h4 {
    margin-top: 10px;
    font-size: 20px;
}

.product p {
    font-size: 20px;
}


#openSidebar {
    font-size: 25px;
    cursor: pointer;
    display: none;
}

/* Mobile Sidebar */
.mobile_sidebar {
    display: none;
    position: fixed;
    top: 0;
    left: -100%;
    width: 35%;
    height: 100vh;
    background-color: #1e2a38;
    padding: 30px;
    transition: left 1.2s ease;
    z-index:100;
}

/* Show sidebar */
.mobile_sidebar.active {
    left: 0;
}

.mobile_sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 20px;
}

.close_sidebar {
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: block;
    text-align: right;
    margin-bottom: 30px;
}







@media only screen and (max-width: 800px) {
    .offerbar {
        font-size: 14px;
        display: flex;
    }

    .navbar_s1 {
        display: none;
    }
    #openSidebar {
        display: block;
    }
    .mobile_sidebar{
        display: block;
    }

    .banner_content {
        top: 15%;
        left: 20%;
        text-align: center;
    }
    .slides img{
        margin: 10px;
        height: 300px;
    }

    .banner_content h1 {
        font-size: 25px;
    }

    .banner_content p {
        font-size: 14px;
    }

    .banner_content button {
        font-size: 14px;
        padding: 8px;
    }

    .prev,
    .next {
        font-size: 30px;
    }

    .brand_box img {
        width: 50px;
        height: 50px;
    }

    .brand_box p {
        font-size: 15px;
    }

    .experience_grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .arrival_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .arrival_box{
        width: 200px;
        height: 200px;
    }
    .arrival_box img{
        width: 100%;
        height: 100%;
    }

    .product_container {
        grid-template-columns: repeat(2, 1fr);
    }

    .product_box {
        width: 210px;
        height: 220px;
    }

    .offer-section {
        flex-direction: column;
        text-align: center;
    }

    .offer-image img {
        width: 300px;
        height: 200px;
    }

    .contact-section {
        width: 80%;
    }

    .sidebar {
        width: 18%;
        padding: 10px;
    }

    .sidebar h3 {
        font-size: 15px;
        margin-bottom: 10px;

    }

    .sidebar label {
        font-size: 10px;
        display: block;
        margin-bottom: 10px;
    }

    .products {
        width: 70%;
        border-left: 2px solid black;
        padding: 20px;
    }

    .search-box {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        border: 1px solid black;
        padding: 8px;
        border-radius: 5px;
    }

    .search-box input {
        width: 100%;
        padding: 3px;
        border: none;
        outline: none;
    }

    .product-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
    }

    .product img {
        width: 100px;
        height: 100px;
        border: 1px solid rgb(230, 227, 227);
        border-radius: 5px;
    }

    .product h4 {
        margin-top: 10px;
        font-size: 12px;
    }

    .product p {
        font-size: 12px;
    }
}